@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Marker+Hatch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Sigmar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Neue Montreal", sans-serif;
  height: 100dvh;
  background: white;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  display: flex;
  gap: 2em;
  padding: 2em 2.5em;
  border-bottom: 1px rgba(255, 255, 255, 0.1);
}

.transition {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgb(41, 98, 255);
  transform: scaleY(0);
}

.container {
  padding: 2em;
}

.header {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}

h2 {
  position: relative;
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  color: #5b3232;
  top: 120px;
}

.header-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-revealer:after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 110%;
  height: 110%;
  background: white;
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: #ff0000;
  opacity: 1;
  z-index: 999;
}
.background-animation .floor {
  position: fixed;
  width: 100%;
  height: 40dvh;
  bottom: 0dvh;
  background-color: black;
  z-index: 1000;
  animation: wobble-hor-bottom 1.3s both;
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.background-animation .circle {
  background: #3E3E3E;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: fixed;
  z-index: 1001;
  bottom: 40dvh;
  left: 10%;
  transform: translate(-50%, -50%);
  animation: bounce-in-top 2s both;
}
.background-animation p {
  text-align: center;
  margin: 0;
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.background-animation .animaP {
  font-size: 3rem;
  margin-top: 15dvh;
}
.background-animation .animaP2 {
  font-size: 3rem;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-800px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-200px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-80px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-16px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100dvh;
  overflow: hidden;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.outer-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}

.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 0.5em 1em;
  background: rgba(33, 150, 243, 0.75);
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}

.outer-menu .hamburger > div:after {
  top: 8px;
}

.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu > div {
  width: 200vmax;
  height: 200vmax;
  color: #FEFEFE;
  background: rgba(41, 98, 255, 0.97);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}

.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 18px;
  display: block;
}

.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}

.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}

.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}

.outer-menu .menu > div > div > ul > li > a:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

a {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.First {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  margin-top: 0dvh;
  margin-bottom: 1dvh;
}

.imgContent {
  height: 40dvh;
  display: flex;
  justify-content: center;
  margin-top: 5dvh;
}

.responsive-image {
  max-width: 100%; /* 使圖片不超過其容器的寬度 */
  height: 40dvh; /* 高度自動調整以保持比例 */
}

.Who {
  height: 25dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4dvh;
}
.Who p {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.Who .NameP {
  font-size: 2rem;
}
.Who .NiceP {
  font-size: 1.5rem;
}
.Who .SoftP {
  font-size: 1.2rem;
}

/* 桌面版樣式 */
@media screen and (min-width: 768px) {
  .background-animation .circle {
    width: 10vw; /* 在小螢幕上改變大小 */
    height: 10vw; /* 在小螢幕上改變大小 */
  }
  .background-animation .animaP {
    font-size: 5rem;
    margin-top: 13dvh;
  }
  .background-animation .animaP2 {
    font-size: 5.5rem;
  }
  .outer-menu {
    top: 20px;
    left: 20px;
  }
  .outer-menu .checkbox-toggle,
  .outer-menu .hamburger {
    width: 60px;
    height: 60px;
  }
  .outer-menu .hamburger > div:before,
  .outer-menu .hamburger > div:after {
    top: -10px;
  }
  .outer-menu .hamburger > div:after {
    top: 10px;
  }
  .outer-menu .menu > div > div {
    transform: scale(0.8);
  }
  .outer-menu .menu > div > div > ul > li {
    font-size: 24px;
  }
  a {
    font-size: 2.5rem;
  }
  h1 {
    margin: 0; /* 清除默認的邊距 */
    position: fixed; /* 使用固定定位 */
    bottom: 0; /* 將元素定位到螢幕底部 */
    right: 0; /* 將元素定位到螢幕右側 */
    padding: 12px; /* 添加一些內邊距，根據需要調整 */
  }
  .First {
    display: flex;
    flex-direction: row;
    margin-top: 8dvh;
  }
  .First .imgContent {
    margin-left: 10%;
    height: 60dvh;
  }
  .First .responsive-image {
    height: 60dvh;
  }
  .First .Who {
    width: 50%;
    margin-top: 12dvh;
    margin-left: 6%;
  }
  .First .Who .NameP {
    font-size: 5rem;
  }
  .First .Who .NiceP {
    font-size: 3rem;
  }
  .First .Who .SoftP {
    font-size: 2.5rem;
  }
  h2 {
    position: relative;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    line-height: 1;
    font-weight: 400;
    color: #5b3232;
    top: 120px;
  }
}/*# sourceMappingURL=sanketsu.css.map */