// @import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Jua&display=swap');

$primary: #c6c0ba;
$secondary: #ffffff;
$third: #000000;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100dvh;
}

body{
  font-family: "Neue Montreal", sans-serif;
  // height: 100dvh;
  background-color: #F5F5F5;
}

.wrapper{
  width: 100%;
  background-color: #F5F5F5;
}

.nav{
  height: 13dvh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 2em 3.5em;
  border-bottom: 1px rgb(255, 255, 255, 0.1);
  background-color: #F5F5F5;

  .liComputer{
    position: relative;  
    list-style: none;
    display: none;
    

    &:hover {
      transform: translateY(-2px); 
    }

    &:hover::after {
      width: 100%;  
      transform: translateY(2px); 

    }

    &::after {
      content: '';  // 生成偽元素
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 5px;
      background-color: #7b7771fb;
      border-radius: 30%;
      transition: width .3s ease;
    }

    &.active {
      color: #f65050;  // 被選中的顏色
    }

    // &.active::after {
    //   width: 100%;  // 被選中的伪元素也要展開寬度
    // }
  }
}

.transition{
  position: fixed; //這邊改成fixed，不管網頁滑到哪邊 都能讓barba在當前視窗上過渡
  z-index: 9999;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  background: rgba(41, 98, 255);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.container{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .containerOtherPage{
//   padding: 1em;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.header{
  position: relative;
  width: max-content;
  height: max-content;
  width: 100%;
}

h2{
  position: absolute;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  color: #5b3232;
  top: 0dvh;
  left: 20vw;
  // left: 5vw;
  white-space: nowrap;
}

.header-revealer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-revealer:after{
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 110%;
  height: 110%;
  // background-color: #F5F5F5;
}


//漢堡選單
        * {
            box-sizing: border-box;
            // font-family: 'Open Sans', sans-serif;
            // font-weight: 300;
            margin: 0;
            padding: 0;
        }

        body, html {
            // width: 100%;
            // height: 100dvh;
            // overflow: hidden;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            color: inherit;
            text-decoration: none;
        }

        .outer-menu {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 1;
        }

        .outer-menu .checkbox-toggle {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            width: 50px;
            height: 50px;
            opacity: 0;
        }

        .outer-menu .checkbox-toggle:checked + .hamburger > div {
            transform: rotate(135deg);
        }

        .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
        .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
            top: 0;
            transform: rotate(90deg);
        }

        .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
            opacity: 0;
        }

        .outer-menu .checkbox-toggle:checked ~ .menu {
            pointer-events: auto;
            visibility: visible;
        }

        .outer-menu .checkbox-toggle:checked ~ .menu > div {
            transform: scale(1);
            transition-duration: .75s;
        }

        .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
            opacity: 1;
            transition: opacity .4s ease .4s;
        }

        .outer-menu .hamburger {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 50px;
            height: 50px;
            padding: .5em 1em;
            background: rgba(33, 150, 243, 0.75);
            border-radius: 0 .12em .12em 0;
            cursor: pointer;
            transition: box-shadow .4s ease;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outer-menu .hamburger > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: #FEFEFE;
            transition: all .4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outer-menu .hamburger > div:before,
        .outer-menu .hamburger > div:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: -8px;
            left: 0;
            width: 100%;
            height: 2px;
            background: inherit;
            transition: all .4s ease;
        }

        .outer-menu .hamburger > div:after {
            top: 8px;
        }

        .outer-menu .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            visibility: hidden;
            overflow: hidden;
            backface-visibility: hidden;
            outline: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outer-menu .menu > div {
            width: 200vmax;
            height: 200vmax;
            color: #FEFEFE;
            background: rgba(41, 98, 255, 0.97);
            border-radius: 50%;
            transition: all .4s ease;
            flex: none;
            transform: scale(0);
            backface-visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outer-menu .menu > div > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity .4s ease;
            overflow-y: auto;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outer-menu .menu > div > div > ul {
            list-style: none;
            padding: 0 1em;
            margin: 0;
            max-height: 100vh;
        }

        .outer-menu .menu > div > div > ul > li {
            padding: 0;
            margin: 1em;
            font-size: 18px;
        }

        .outer-menu .menu > div > div > ul > li > a {
            position: relative;
            display: inline;
            cursor: pointer;
            transition: color .4s ease;
        }

        .outer-menu .menu > div > div > ul > li > a:hover {
            color: #e5e5e5;
        }

        .outer-menu .menu > div > div > ul > li > a:hover:after {
            width: 100%;
        }

        .outer-menu .menu > div > div > ul > li > a:after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: -.15em;
            left: 0;
            width: 0;
            height: 2px;
            background: #e5e5e5;
            transition: width .4s ease;
        }

        //漢堡選單以上

        //以下是個人首頁

        a{
          font-family: "Jua", sans-serif;
          font-weight: 400;
          font-style: normal;
            font-size: 1.5rem;
        }

        .First{
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-family: 'Jua', cursive;
            font-weight: 400;
            font-size: 3rem;
            text-align: center;
            margin: 0;
            margin-top: 0dvh;
            // margin-bottom: 1dvh;
          }

          .imgContent{
            height: 40dvh;
            display: flex;
            justify-content: center;
            margin-top: 5dvh;
          }

          .responsive-image {
            max-width: 100%; /* 使圖片不超過其容器的寬度 */
            height: 40dvh;    /* 高度自動調整以保持比例 */
          }

          .Who{
            height: 25dvh;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            margin-top: 4dvh;

            p{
                font-family: "Rubik Marker Hatch", system-ui;
                font-weight: 400;
                font-style: normal;
            }
            .NameP{
                font-size: 2rem;
            }
            .NiceP{
                font-size: 1.5rem;
            }
            .SoftP{
                font-size: 1.2rem;
            }
          }

                //以上是個人首頁

        /* 桌面版樣式 */
        // 個人首頁

        .Second{
          width: 100%;
          // height: 200dvh;
          background-color: #F5F5F5;
          margin-top: 15dvh;
          p{
            font-family: "Rubik Marker Hatch", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 1.2rem;
          }

          .imgContainer{
            display: flex;
            flex-direction: column;
            row-gap: 5dvh;
            font-family: "Jua", sans-serif;

            .imgAll{
              width: 100%;
              height: 25dvh;
              object-fit: cover;
            }

            .akiImg{
              object-position: 30% 50%;
              
            }

            .kyoImg{
              object-position: 50% 30%;
            }

            .nagoImg{
              object-position: 50% 60%;
            }

            .hyogoImg{
              object-position: 50% 10%;
            }

            .osakaImg{
              object-position: 50% 30%;
            }

            .shimoImg{
              object-position: 50% 40%;
            }

            .takaImg{
              object-position: 50% 60%;
            }
          }
        }

        .ContactBlock{
          margin-top: 15dvh;
          width: 90%;
          height: 35dvh;
          font-family: "Jua", sans-serif;
          font-weight: 400;
          font-style: normal;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background-color: #dccdb363;
          border-radius: 10px;
          padding-left: 0.8rem;
          padding-right: 0.8rem;

          h3{
            font-size: 2rem;
            margin-top: 1.5dvh;
          }

          .iconS{
            width: 80%;
            display: flex;
            justify-content: space-around;

            a{
              &:hover {
                transform: translateY(-4px); 
                color: rgb(243, 105, 105);
              }
          
              &:hover::after {
                width: 100%;  
                transform: translateY(4px); 
          
              }
            }
            .ti{
                font-size: 2rem;
            }
          }

          p{
            font-size: 0.9rem;
            text-align: center;
          }
          
        }

        .Footer{
          font-family: "Jua", sans-serif;
          font-weight: 400;
          font-style: normal;
          margin-top: 20dvh;
          width: 100%;
          border-top: 0.8px solid rgba(232, 146, 146, 0.5);
          padding-top: 3rem; 
          padding-bottom: 3rem;

          h6{
            text-align: center;
            font-size: 0.8rem;
          }
        }


        //about.html

        .aboutMeBlock{
          width: 100%;
          padding-top: 13dvh;
          display: flex;
          flex-direction: column;
          font-size: 0.8rem;


          .imgAbout{
            text-align: center;
            padding-bottom: 2.5dvh;

            .aboutMeImg{
              width: 50vw;
            }
          }

          .aboutName{
            text-align: center;
            margin-bottom: 1dvh;
            font-family: "Jua", sans-serif;
            color: #4B5563;
            font-size: 1rem;

        }
          .aboutMeWords{
           padding: 1rem;
           text-align: center;
           margin-top: 1dvh;
           font-family: "Alegreya Sans", sans-serif;
           font-size: 1rem;
           color: #4B5563;

           P{
            margin: 0;
           }

          }
          
        }


        @media screen and (min-width: 768px) {
 

    .nav {
      background-color: #FFFFF0;
      position: fixed;

    .liComputer{
      font-size: 1.5rem;
      display: block; 
      
    }
  }

          //以下是漢堡選單

            .outer-menu {
                top: 20px;
                left: 20px;
            }

            .outer-menu .checkbox-toggle,
            .outer-menu .hamburger {
                width: 60px;
                height: 60px;
                display: none;
            }

            .outer-menu .hamburger > div:before,
            .outer-menu .hamburger > div:after {
                top: -10px;
            }

            .outer-menu .hamburger > div:after {
                top: 10px;
            }

            .outer-menu .menu > div > div {
                transform: scale(0.8);
            }

            .outer-menu .menu > div > div > ul > li {
                font-size: 24px;
            }

            .navLi{
                font-size: 2.5rem;
            }

            h1 {
              margin: 0; 
              position: fixed; 
              top: 1dvh; 
              left: 7.5%; 
              padding: 10px; 
          }

            .First{
              width: 100%;
              display: flex;
              flex-direction: row;
              margin-top: 20dvh;
              

              .imgContent{
                margin-left: 10%;
                height: 60dvh;
              }

              .responsive-image{
                height: 60dvh;
              }

              .Who{
                width: 50%;
                margin-top: 13dvh;
                margin-left: 7%;

                .NameP{
                  font-size: 5rem;
                }
                .NiceP{
                  font-size: 3rem;
              }
              .SoftP{
                  font-size: 2.5rem;
              }
              }

            }

            //// 個人首頁以上
        
            h2{
              font-size: 3rem;
              margin: 0;
              margin-top: 1.5dvh;
            }

            .Second{
              height: 100dvh;
              background-color: #F5F5F5;
              margin-top: 15dvh;
              p{
                font-family: "Rubik Marker Hatch", system-ui;
                font-weight: 400;
                font-style: normal;
                font-size: 3rem;
              }
    
              .imgContainer{
                margin-top: 10dvh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 10dvh;
                font-family: "Jua", sans-serif;
                justify-content: space-between;
  
                .imgBox{
                  display: flex;
                  flex-direction: column;
    
                .imgAll{
                  width: 20vw;
                  height: 20dvh;
                  object-fit: cover;
                }
    
                .akiImg{
                  object-position: 50% 50%;
                }
    
                .kyoImg{
                  object-position: 50% 30%;
                }
    
                .nagoImg{
                  object-position: 50% 70%;
                }

                .hyogoImg{
                  object-position: 50% 10%;
                }
    
                .osakaImg{
                  object-position: 50% 30%;
                }
    
                .shimoImg{
                  object-position: 50% 40%;
                }
    
                .takaImg{
                  object-position: 50% 50%;
                }
  
              }
  
              }
            }

            .ContactBlock{
              margin-top: 5dvh;
              width: 35%;
              height: 35dvh;
              font-family: "Jua", sans-serif;
              font-weight: 400;
              font-style: normal;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              background-color: #dccdb263;
              border-radius: 10px;
              padding-left: 1.5rem;
              padding-right: 1.5rem;
    
              h3{
                font-size: 2rem;
                margin-top: 1.5dvh;
              }
    
              .iconS{
                width: 70%;
                display: flex;
                justify-content: space-around;
                .ti{
                    font-size: 2rem;
                }
              }
    
              p{
                font-size: 0.9rem;
                text-align: center;
              }
              
            }

            .Footer{
              font-family: "Jua", sans-serif;
              font-weight: 400;
              font-style: normal;
              margin-top: 20dvh;
              width: 100%;
              border-top: 0.8px solid rgba(232, 146, 146, 0.5);
              padding-top: 3rem; 
              padding-bottom: 3rem;
    
              h6{
                text-align: center;
                font-size: 1rem;
              }
            }
        
        
          }

